/* 
* Universal Selector: establish website's background color 
*/ 
* {
    color:hsl(335, 23%, 78%); 
}

/* 
* font implemented 
*/ 
@font-face {
    font-family: 'Roboto Mono'; 
    src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap.woff") format(woff); 
    font-weight: 700; 
    font-style: italic; 
}

/* 
* Element Selector: structure wesbite header 
*/ 
header {
    text-align: center;
    font-family: 'Roboto-Mono', monospace;
}

header h2 {
    background-color: #f8edeb;
} 

@media screen and (max-width: 480px) {
    header h2 {
        background-color: red; 
    }
}

/* 
* Pseudo-class Selector: color to select the items on the header 
*/ 
a:active {
    color: #836953;
}

/* 
* Element Selector: structure website body 
*/ 
body {
    background-color: #f8edeb;  
    font-family: 'Roboto-Mono', monospace; 
}

.menu li {
    display: inline-block;
    background-color: white;  
    max-width: 500px;
    max-height: 200px;
} 

/* 
* Element selector: color and layout all header2
*/ 
h2 {
    color: rgb(251, 165, 180); 
    background-color: white; 
    margin: auto;  
}

/* 
* attribute selector: defined the background color of id 
*/ 
div[id] {
    background-color: lavender; 
}

.introduction p{
    background: content-box radial-gradient(#ccd5ae, white); 
    font-size: 1em; 
    margin: 1rem 1rem 1rem 3rem; 
}

/* 
* Selector List: establish the introduciton details 
*/
details, 
.introduction {
    color: hsl(335, 23%, 78%);
    margin-top: 0; /* margin long */ 
    margin-bottom: 0;  
    margin-left: 2rem; 
    margin-right: 2rem;  
}

/* 
* Selector List: fix the margin for website's intro header 
*/ 
h2, 
.introduction {
    margin:auto; 
}

h1, h2 {
    background-color:white; 
}

/* 
* Descendent combinator: changed the shape of unordered list 
*/
ul li {
    list-style-type: circle; 
}

/* 
*  Attendance Class Selector 
*/ 
.Attendees {
    width: 50vw;   
    height: 50vh; 
    font-size: 0.9rem; 
    height: 120px;  
    padding-top: 3px; 
    padding-bottom: 2px; 
    padding-left: 2px; 
    padding-right: 3px; 
    text-decoration: underline; 
}

/* 
* Child Combinator: changed the background color of attendees
*/ 
.Attendees > ol {
    background-color: white; 
}

/* 
*  Class Selector: structured website meeting agenda 
*/ 
.Agenda {
    width: 700px;   
    height: 150px; 
    margin : 1% 0 0 1%; 
     
    border-style: dotted; 
    border-color: #ccd5ae; 
    border-width: 4pt; 
    border-radius: 4pt;  
} 

/* 
* style properties: change the color of each header3 after header2 
*/ 
h2 ~ h3 {
    color: #836953;
}

/* 
*  Class Selector 
*/ 
.Unfinished-Business {
    width: 8in;     /* absolute unit three */ 
    height: 5.5cm; /* absolute unit four */ 
    margin : 1% 1% 1% 1%; 
    border-style: dotted; 
    border-color: #ccd5ae; 
    border-width: 4pt; 
    border-radius: 4pt; 
}

/* 
*  Class Selector 
*/ 
.Finished-Business {
    width: 8in; /* absolute unit three */ 
    height: 4cm; /* absolute unit four */
     
    margin : 1% 1% 1% 1%; 
    border-style: dotted; 
    border-color: #ccd5ae;
    border-width: 4pt; 
    border-radius: 4pt;  
}

/* 
*  Class Selector 
*/ 
.Questions-Concerns {
    width: 40vw; /* relative unit three */ 
    height: 15vh; /* relatvie unit four */ 

    margin-top: 0.5rem; /* margin long */ 
    margin-bottom: 0;  
    margin-left: 0; 
    margin-right: 0.5rem;

    border-style: dotted; 
    border-color: #ccd5ae; 
    border-width: 4pt; 
    border-radius: 4pt;
}

.Questions-Concerns li {
    color:  #836953;
    text-decoration: underline; 
    text-align: left; 
}

/* 
*  Class Selector: structured images 
*/ 
.images {
    max-width: 50px;
    max-height: 50px;
    display: inline;
}

/* 
*  Class Selector: structured view of meeting videos 
*/ 
.video {
    margin-bottom: 10px; 
}

/* 
* Class Selector: structured display of meeting audio 
*/ 
.audio {
    display: none;  
}

/* 
*  Class Selector 
*/ 
.contacts {
    height: 110px; 
}

/* 
* Adjacent Sibling Combinator: bolded website contact information
*/  
h2 + p{
    font-weight: bold; 
}

/* 
* ID Selector: customize flex layout 
*/ 
#parent {
    display: flex;
    flex-direction: column-reverse; 
    flex-wrap: wrap; 
    gap: 10px; 
}

.cof {
    background-color: #836953; 
    align-self: center; 
}

.mat {
    background-color: #efdaf1;
    align-self: center; 
}

.lat {
    background-color:hsl(336, 100%, 99%);
    align-self: center; 
}

/* 
* Combining Two Selectors: designed text
*/ 
p.help {
    color: #836953; 
}

/* 
*  Class Selector: structured website's form  
*/ 
.form2 {
    margin-left: 0.25in; 
    background-color: white;
    padding-top: 5px; 
    padding-bottom: 4px; 
    padding-left: 4px; 
    padding-right: 5px; 
    border: 3pt solid #ccd5ae;
    height: 700px;
    width: 700px;  
}

/* 
*  Class Selector: structured website's form 
*/ 
.form {
    min-width: 700px;
    position: static; 
}

.subscrube:active {
    color:hsl(335, 23%, 78%); 
}

.submit:hover {
    color: #ccd5ae; 
}

/* 
*  Class Selector 
*/ 
.foot {
    position: sticky;
    bottom:0; 
    color: pink;
    font-family: 'Roboto-Mono', monospace;  
}

/* 
* grid implemented  
*/ 
.gridParent{
  display: grid;
  gap: 10px; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: min-content 1fr max-content; 

}

.one {
    background-color: white; 
}

.two { 
    background-color: lavender; 

}

.three {
    background-color: pink; 
    grid-column: second-line / 2; 
    grid-row: second-line / 2; 
}